
<div class="container">

<%= form_for @catalog do |f| %>
  Name: <%= f.text_field :name %><br />
  Type : <%= f.text_field :ctype %><br />
  
  <%= f.submit "Update " %>
<% end %>
<%= link_to 'Back', catalogs_path %>

</div>
