<div class="container">
<br>
<h1> Creation of New Catalog </h1>
<% flash.each do |message_type, success| %>
 <div class="alert alert-<%= message_type%>"> <%= success %> </div>
<% end %>


<%= form_for :catalog, url: catalogs_path,local: true  do |f| %>
  Name: <%= f.text_field :name  ,:required => true%><br />
  Type : <%= f.text_field :ctype ,:required => true%><br />
  
  <%= f.submit "Save " %>
<% end %>


<%= link_to 'Back', catalogs_path %>

</div>